.card-wrapper {
  padding: 1rem 3rem;
  border: 1px solid #1209002a;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.info-wrapper {
  margin: auto;
}

.info-wrapper p {
  margin: 0.5rem;
}

.info-wrapper h2 {
  margin: 0.75rem;
}

.jacket-wrapper {
  margin-right: 3rem;
  min-width: 150px;
}

.jacket-cover {
  max-height: 200px;
  max-width: 200px;
}

@media screen and (max-width: 650px) {
  .card-wrapper {
    flex-direction: column-reverse;
  }

  .jacket-wrapper {
    margin-right: 0;
  }
}
