.card-wrapper {
  padding: 1rem 3rem;
  border: 1px solid #1209002a;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.info-wrapper {
  margin: auto;
}

.jacket-wrapper {
  margin-right: 3rem;
}

.jacket-cover {
  max-height: 200px;
  max-width: 200px;
}
